<h1>Python Basics</h1>

# 1.개요

## 필수 라이브러리 설치 확인

In [ ]:
import numpy
import pandas
import matplotlib
import sklearn
import tensorflow
import keras

print(numpy.__version__)
print(pandas.__version__)

1.21.6
1.3.5

# 2.기본 문법

## 기본 문법

In [ ]:
'''
print("hello")
print("world")
'''
print("goodbye")

goodbye

In [ ]:
print("hello");
print("world")

print("hello"); print("world")

hello
world
hello
world

In [ ]:
# '\' 사용하면 줄바꿈해도 에러 안남
print("동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세\
무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세")

동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세

## 변수

In [ ]:
i = 10
print(i)

10

In [ ]:
i=10
i=20

In [ ]:
print("hello")

hello



---
🛑
내장함수에 값을 할당하면 이후 해당 함수 원래 역할 못함(print 등..)\
keyword(if 등..)은 에러나서 실행 자체가 안됨

In [ ]:
# 주의할 부분
# print라는 내장함수를 10으로 덮어씀 -> 이후에 print 함수 사용 불가
print = 10
print

10

In [ ]:
del print

In [ ]:
print("hello")

hello

In [ ]:
# if는 키워드기 때문에 에러
if = 10

SyntaxError: ignored

In [ ]:
# keyword 목록 확인
import keyword
#keyword.kwlist

In [ ]:
# 내장함수 목록 확인
#dir(__builtin__)

---
## 데이터 타입

In [ ]:
i = 10
f = 3.14
c = 1.23 + 4.5j
print(i, type(i), f, type(f), c, type(c))
# 정수, 실수, 복소수(숫자 뒤에 j 붙이면 허수를 의미함)

10 <class 'int'> 3.14 <class 'float'> (1.23+4.5j) <class 'complex'>

In [ ]:
b1 = True
b2 = False
b1, type(b1), b2, type(b2)

(True, bool, False, bool)

In [ ]:
s = "hello"
s2 = 'world'
s, type(s), s2, type(s2)
# ''와 ""는 차이 없음

('hello', str, 'world', str)



---
⚽ List, Set, Tuple, Dictionary

In [ ]:
# java의 arraylist, vector ..
lst = [1, 2, 3, 4]
lst, type(lst)

([1, 2, 3, 4], list)

In [ ]:
# java의 set과 똑같이 순서 보장 안되고 중복값은 하나만 취급
st = {1,2,3,1,2,3}
st, type(st)

({1, 2, 3}, set)

In [ ]:
tpl = (1, 2, 3)
tpl, type(tpl)

((1, 2, 3), tuple)

In [ ]:
# java의 map
dt = {'a':1, 'b':2}
dt, type(dt)

({'a': 1, 'b': 2}, dict)

---

In [ ]:
a = 123
float(a)

123.0

In [ ]:
int(3.14)

3

In [ ]:
int("123")

123

In [ ]:
float("3.14")

3.14

In [ ]:
int(True), int(False)

(1, 0)

In [ ]:
bool(1), bool(0)

(True, False)

🛑 True, False 헷갈리기 쉬움

In [ ]:
# 0만 False고 0이 아닌 모든 것은 True
bool(2), bool(-1), bool(0.000000000001)

(True, True, True)

In [ ]:
# 숫자 0이거나, None, 텅 빈 자료구조일 경우만 False
bool(0), bool(0.0), bool(0j), bool(""), bool([]), bool(()), bool({})

(False, False, False, False, False, False, False)

In [ ]:
# 많이 헷갈리는 부분. 내용 있는 문자열이므로 True
bool("False")

True

In [ ]:
# java의 null.. NULL, Na, NaN 모두 같은 의미
type(None), bool(None)

(NoneType, False)

---
## 연산자

In [ ]:
# int
4 + 2

# float
4 + 2.0

6.0

⚽⚽⚽ \
대부분 연산은 정수끼리 연산하면 결과도 정수지만,\
나누기(/)의 결과는 무조건 실수임.\
정수로 사용하고 싶으면 // 사용하기

In [ ]:
# 정수끼리 연산이지만 나누기의 결과는 실수임
# 나누기 결과를 정수로 사용하고 싶으면 // 사용하면 됨
4 / 2, 4 // 2

(2.0, 2)

In [ ]:
7/4, 7//4

(1.75, 1)

In [ ]:
s = "hello world"
s[2]
s[4/2] # error
s[4//2]

In [ ]:
# ++i, i-- 등 연산자 없음
i = 10
i++

SyntaxError: ignored

In [ ]:
i = 10
i += 1
i

11

In [ ]:
a = 10
b = 20
a == b

False

⚽⚽⚽\
is 함수, id 함수

In [ ]:
a is b, id(a), id(b)

(False, 11256352, 11256672)

In [ ]:
b = 10
a == b

True

In [ ]:
# a와 b는 값은 같지만 identify는 다름
# 하지만 같은 값을 2개나 가지고 있을 이유가 없으므로 한 값으로? 침
a is b, id(a), id(b)

(True, 11256352, 11256352)

In [ ]:
True and True

True

In [ ]:
True or False

True

In [ ]:
not True

False

In [ ]:
True & True

True

In [ ]:
True | False

True

In [ ]:
~ True

-2

⚽⚽⚽\
논리 연산자: and, or, not
bitwise 연산자: & | ~

In [ ]:
# a(True) & b(True)일 때 결과로 나온 True는 b의 True를 의미함. 그러므로 아래 결과는 3이 나옴
2 and 3, "" or 0

(3, 0)

In [ ]:
2 & 3

# 2 and 3과 2 & 3의 결과가 다르므로 구별해서 사용해야 함 --> 매우 중요
# 하나하나를 개별로 놓고 연산을 하고싶을 때 &를 사용해야 함

2

---
## 문자열

![diaryImg1.jpg]()

⚽⚽⚽\
문자열 덧셈은 문자열 끼리만 가능하고 숫자랑은 불가능함

In [3]:
"hello" + "world"

'helloworld'

In [ ]:
"hello" + 123

TypeError: ignored

In [ ]:
value = 123
value + "kg"

TypeError: ignored

In [ ]:
# 문자열끼리의 덧셈이므로 가능함
"hello" * 5

'hellohellohellohellohello'

In [ ]:
"h" in "hello"

True

In [ ]:
len("hello")

5

In [ ]:
s = "python"
s[0]

'p'

In [ ]:
len(s)-1

5

In [ ]:
s[5]

('n', 'n')

In [ ]:
s[6]

IndexError: ignored

In [ ]:
s[-1]

'n'

In [ ]:
s[-7]

IndexError: ignored

* slicing

In [ ]:
s[1:4]

'yth'

In [ ]:
s[1:]

'ython'

In [ ]:
s[:4]

'pyth'

In [ ]:
s[:]

'python'

In [ ]:
s[1:4:2]

'yh'

⭐ 값 뒤집을 때 사용 가능한 방법 1 --> 변수의 값 자체가 바뀌진 않음\
(두번째 방법은 reverse 함수)

In [ ]:
# 값을 뒤집을 때 사용 가능함...중요
s[::-1]

'nohtyp'

### 연습문제

In [ ]:
ssn = '881225-1234567'

year = ssn[:2]
month = ssn[2:4]
day = ssn[4:6]
gender = ssn[7]


print("생년월일 :", year, month, day)
print("성별 : " + gender)

생년월일 : 88 12 25
성별 : 1

## 문자열 메서드

In [ ]:
s.find('t')

2

In [ ]:
"010-1234-5678".split('-')

['010', '1234', '5678']

In [ ]:
'-'.join(['010', '1234', '5678'])

'010-1234-5678'

## 문자열 포맷팅

In [ ]:
name = "lee"
age = 27

print("My name is %s, I am %d years old" % (name, age))

My name is lee, I am 27 years old

In [ ]:
# 정수나 실수를 %s로 출력해도 출력 되지만, 자릿수 조절 불가능
print("price: %f, count: %d" % (12.34567, 10))
print("price: %f, count: %d" % (1234.567, 100))
print("-------------------------------------")
print("price: %10.2f, count: %3d" % (12.34567, 10))
print("price: %10.2f, count: %3d" % (1234.567, 100))
print("-------------------------------------")
print("price: %0.2f, count: %3d" % (12.34567, 10))
print("price: %0.2f, count: %3d" % (1234.567, 100))
print("price: %.2f, count: %3d" % (12.34567, 10))
print("price: %.2f, count: %3d" % (1234.567, 100))
print("-------------------------------------")
print("price: %7.2f, count: %3d" % (12.34567, 10))
print("price: %7.2f, count: %3d" % (1234.567, 100))

price: 12.345670, count: 10
price: 1234.567000, count: 100
-------------------------------------
price:      12.35, count:  10
price:    1234.57, count: 100
-------------------------------------
price: 12.35, count:  10
price: 1234.57, count: 100
price: 12.35, count:  10
price: 1234.57, count: 100
-------------------------------------
price:   12.35, count:  10
price: 1234.57, count: 100

In [ ]:
"My name is {} and I am {} years old".format(name, age)

'My name is lee and I am 27 years old'

In [ ]:
# 변수 순서 잘 지켜야 함. 아니면 {} 안에 숫자로 순서 지정 가능
"My name is {1} and I am {0} years old".format(age, name)

'My name is lee and I am 27 years old'

In [ ]:
# 많이 쓰는 방식.
print("My name is {a} and I am {b} years old".format(b=age, a=name))
# 자리 확보 
print("My name is {a} and I am {b:5} years old".format(b=age, a=name))

My name is lee and I am 27 years old
My name is lee and I am    27 years old

⚽⚽⚽\
f-string 함수

In [ ]:
# f-string
# {} 안에 수식도 넣을 수 있음
f"My name is {name} and I am {age:5d} years old."

'My name is lee and I am    27 years old.'

## 입출력

In [ ]:
# print는 기본적으로 sep=' ', end='\n'가 적용됨
print("hello", 10, 3.14)

hello 10 3.14

In [ ]:
print("hello", 10, 3.14, sep=',')

hello,10,3.14

In [ ]:
print("hello")
print("world")

hello,10,3.14

In [ ]:
print("hello", end=" ")
print("world")

hello world

⚽⚽⚽\
사용자 입력 받기\
🛑 키보드 입력은 무조건 문자열로 들어옴

In [ ]:
# 입력받기.. 입력 될때까지 실행됨
name = input("이름을 입력하세요: ")
print("당신의 이름은 %s 이군요" % name)

이름을 입력하세요:
당신의 이름은  이군요

In [ ]:
# 키보드 입력은 무조건 문자열로 인식됨.
# 입력값을 숫자로 이용하고 싶으면 casting 해줘야 함
age = input("나이를 입력하세요: ")
print("100세까지 %d년 남았습니다." % (100-int(age)))

나이를 입력하세요: 24
100세까지 76년 남았습니다.

# 3.자료구조

## List

In [8]:
a = [1,2,3,4]
a

[1, 2, 3, 4]

In [ ]:
b = [3.14, "hello", [10,20,30]]
b

[3.14, 'hello', [10, 20, 30]]

In [ ]:
a + b

[1, 2, 3, 4, 3.14, 'hello', [10, 20, 30]]

In [ ]:
a[0]

1

In [ ]:
print(b[2])
print(b[2][1])

[10, 20, 30]
20

In [ ]:
a[0] = 100
a

[100, 2, 3, 4]

---
list에 요소 추가

In [ ]:
# a 자체가 바뀜
a.append(5)
a

[100, 2, 3, 4, 5]

In [ ]:
# insert(n, v): n번째 자리에 v를 넣음
a.insert(1, 200)
a

[100, 200, 2, 3, 4, 5]

---
list 요소 삭제

In [9]:
# 요소 삭제_index로.. 인자 없으면 가장 마지막 요소 삭제
print(a)
print(a.pop())
print(a)

[1, 2, 3, 4]
4
[1, 2, 3]

In [10]:
print(a.pop(1))
print(a)

2
[1, 3]

In [ ]:
# 요소 삭제_값으로
a.remove(2)
a

[100, 3]

In [ ]:
a.append(3)
a

[100, 2, 3]

In [ ]:
# remove의 값이 여러개 있으면 가장 먼저 만나는 하나를 지움
a.remove(3)
a

[100, 3]

### 연습문제

In [ ]:
score = [['math', 89], ['english']]

score[1].append(85)
score

[['math', 89], ['english', 85]]

---

In [ ]:
lst = [1,3,5,4,2]

In [ ]:
#1. slicing 활용.. 원본 자체가 바뀌는건 아님
lst[::-1]

[2, 4, 5, 3, 1]

In [ ]:
#2. method 활용 .. 원본 자체가 바뀜
lst.reverse()
lst

---

In [ ]:
['Python', 'is', 'too', 'interesting']

' '.join(['Python', 'is', 'too', 'interesting'])

'Python is too interesting'

## Tuple

In [ ]:
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [ ]:
# tuple은 읽기 전용이므로 수정 불가
t[1] = 100

TypeError: ignored

In [ ]:
# tuple을 선언할 땐 괄호와 콤마가 필요하다. 특히 콤마가 중요함
t2 = (10, 20)
print(t2, type(t2))

# 콤마 없으면 tuple 아님. 괄호는 우선순위를 지정하는 의미기 때문에 괄호에는 큰 의미 없음(다음 셀 예제처럼)
t3 = (10)
print(t3, type(t3))

t4 = (10, )
print(t4, type(t4))

(10, 20) <class 'tuple'>
10 <class 'int'>
(10,) <class 'tuple'>

In [ ]:
(2) + (3 * 4)

14

In [ ]:
t3 = 10, 20, 30
t3, type(t3)

((10, 20, 30), tuple)

In [ ]:
# 그럼에도 튜플에 괄호가 꼭 필요한 이유
lst1 = [10, 20, "hello", [1, 2, 3], 10, 20, 30]
lst2 = [10, 20, "hello", [1, 2, 3], (10, 20, 30)]
print(lst1)
print(lst2)

[10, 20, 'hello', [1, 2, 3], 10, 20, 30]
[10, 20, 'hello', [1, 2, 3], (10, 20, 30)]

In [ ]:
a = 10
b = 20
c = 30

In [ ]:
# 사실상 튜플임. 아래 두 코드는 같음
a, b, c = 10, 20, 30
print(a, b, c)

(a, b, c) = (10, 20, 30)
print(a, b, c)

10 20 30
10 20 30

⚽⚽⚽\
swapping

In [ ]:
coffee = 'beer'
beer = 'coffee'
coffee, beer

('beer', 'coffee')

In [ ]:
# 방법 1
temp = coffee
coffee = beer
beer = temp

coffee, beer

('coffee', 'beer')

In [ ]:
# 방법 2
coffee = 'beer'
beer = 'coffee'

coffee, beer = beer, coffee
coffee, beer

('coffee', 'beer')

In [ ]:
# tuple의 값을 꼭 수정해야할 때는 list로 바꿔서 수정 후 다시 tuple로 바꾼다.
t = (10, 20, 30)
# t[1] = 200

lst = list(t)
lst[1] = 200
t = tuple(lst)
t

(10, 200, 30)

In [ ]:
# set은 순서, 중복 없음 
st = {1, 2, 3, 1, 2, 3}
st

{1, 2, 3}

In [ ]:
# 순서가 없기 때문에 어떤 위치에 넣는다는 개념 자체가 성립 안됨. 그냥 요소 추가하는 것
st.add(4)
st

{1, 2, 3, 4}

In [ ]:
st.update([5,6,7,8])
st

{1, 2, 3, 4, 5, 6, 7, 8}

⚽⚽⚽\
discard VS remove

In [ ]:
# discard와 remove 둘 다 값으로 지운다는 점은 공통(순서가 없기 때문에 index 개념 자체가 없음)
# 차이는 없는 값을 지웠을 때 생김. discard는 none값을 return하므로 에러는 안남. remove는 에러남 -> 상황에 맞게 사용
st.discard(8)
st

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
st.remove(7)
st

{1, 2, 3, 4, 5, 6}

In [ ]:
# 없는 값을 삭제하면 아무 일도 안일어남
st.discard(100)

In [ ]:
# 없는 값 삭제하면 error
st.remove(100)

KeyError: ignored

In [ ]:
# 교집합, 합집합...잘 안씀
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)
print(a | b)

{2, 3}
{1, 2, 3, 4}

### 연습문제

In [ ]:
lst = [1,1,2,2,3,4,4,5,6,7,2]

[1, 2, 3, 4, 5, 6, 7]

## Set

### 연습문제

In [ ]:
# 단어가 총 몇개인지 구하시오
song = "yesterday All my trouble seemed so far away Now it looks as though they're here to stay Oh, I believe in yesterday"

In [ ]:
# 모두 소문자로 바꾸기 위해 lower 사용
# 중복된 단어는 한번만 세야하므로 set을 사용함
len(set(song.lower().split(' ')))

21

## Dict

In [ ]:
d = {'a':1, 'b':2, 'c':3}
d

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [ ]:
d.values()

dict_values([1, 2, 3])

In [ ]:
# index로 처리하고 싶을 때 유용
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

### 연습문제

In [ ]:
dic = {'A':90, 'B':80, 'C':70}

80
{'A': 90, 'C': 70}

# 4.제어문

## if 문

In [ ]:
a = 10

# 조건문에 괄호 써도 되지만 안쓰는걸 권장
# indent를 얼마나 하는지는 상관 없지만 같은 레벨끼리는 똑같이 줘야 함
if a > 5:
    print("bigger")
    print("bigger2")
print("out of if")

bigger
bigger2
out of if

### 연습문제 - 학점

In [ ]:
score = input("Insert your score:")

Insert your score:95
Your credit is A

### 3항 연산자

* Java랑 문법 다름
* else_if문도 가능하지만 가독성이 떨어지므로 사용 잘 안함

In [ ]:
a = 10
if a > 5:
  b = 20
else:
  b = 30
b

20

In [ ]:
b = 20 if a > 5 else 30
b

20

## while

In [ ]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

### 연습문제 - 별찍기

## 연습문제 - 로또

In [ ]:
import random

{5, 10, 42, 43, 45, 19}

## for문

In [ ]:
animals = ['ant', 'bee', 'cat', 'dog', 'fox']

# index로는 컨트롤 못함
for animal in animals:
  print(animal)

ant
bee
cat
dog
fox

In [ ]:
# index 사용 가능한 방법
for idx in range(5): 
  print(idx, animals[idx])

0 ant
1 bee
2 cat
3 dog
4 fox

⚽⚽⚽\

In [ ]:
# enumerate.. range 함수 사용 안해도 index 사용 가능

list(enumerate(['a','b','c','d']))

# index 0부터 시작하는게 싫으면 바꿀 수 있음
# list(enumerate(['a','b','c','d'], start=1))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
for idx, animal in enumerate(animals):
  print(idx, animal)

0 ant
1 bee
2 cat
3 dog
4 fox

### 연습문제

In [ ]:
# 1~100 합 출력..range() 이용

sum = 0
for num in range(1, 101):
  sum += num

print(sum)

5050

In [ ]:
# enumerate, formatting, 삼항연산자
scores = [90,35,68,44,81]

# for idx, score in enumerate(scores, start=1):
#   print(f"{idx}번 학생은", end=" ")
#   print("합격", end="") if score>=60 else print("불합격", end="")
#   print("입니다.")

#--------------------------------------------------#
# for idx, score in enumerate(scores, start=1):
#   if score >= 60:
#     res = "합격"
#   else:
#     res = "불합격"
#   print(f"{idx}번 학생은 {res}입니다.")

#--------------------------------------------------#
for idx, score in enumerate(scores, start=1):
  res = "합격" if score>=60 else "불합격"
  print(f"{idx}번 학생은 {res}입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

### 연습문제-구구단

### break, continue

### 연습문제- Number guess

In [ ]:
import random
number = random.randint(1, 100)
print('Guess the number(1~100) in 10 times.')
print("number: ", number)

for idx in range(10):
  val = int(input(f"Insert number you guess({idx+1}): "))
  if(val == number):
    print('Correct answer!')
    break

  if idx == 9:
    print('You fail')
    continue

  if(val < number):
    print('Higher')
  else:
    print('Lower')

Guess the number(1~100) in 10 times.
number:  26
Insert number you guess(1): 1
Higher
Insert number you guess(2): 2
Higher
Insert number you guess(3): 3
Higher
Insert number you guess(4): 4
Higher
Insert number you guess(5): 5
Higher
Insert number you guess(6): 6
Higher
Insert number you guess(7): 7
Higher
Insert number you guess(8): 8
Higher
Insert number you guess(9): 9
Higher
Insert number you guess(10): 10
You fail

### comprehension(내포)

In [ ]:
a = [0, 1, 2, 3 ,4, 5, 6, 7, 8, 9]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

⚽⚽⚽\
for 왼쪽에는 원하는 패턴(수식)을, 오른쪽에는 조건을 줄 수 있다.

In [ ]:
# comprehension

[ i for i in range(10) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 복잡한 제약이 있는 경우 사용하기 어려움 
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [ ]:
# 복잡한 수식을 사용해야 할 경우 comprehension가 유용함
[ i**2 for i in range(10) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[i for i in range(10) if i%2!=0]

[1, 3, 5, 7, 9]

In [ ]:
# 집합으로 만드려면 [] 대신 {} 사용하면 됨
{ i**2 for i in range(10) }

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
# tuple로 만들기
v = tuple([ 2**x for x in range(13) ])
v

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096)

In [ ]:
# dictionary로 만들기(key:value 짝을 만들어줘야 함)
{ i:i**2 for i in range(10) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
d = {'a':10, 'b':20, 'c':30}
{k:v for k, v in d.items()}
{v:k for k, v in d.items()}

{10: 'a', 20: 'b', 30: 'c'}

# 5.함수

### Function mapping, Macro

In [ ]:
# return type 대신 def를 사용하고, 인자 type 필요 없음

def greeting(name):
  print(f"안녕하세요? {name}님")
  print(f"Hello, Mr(s){name}")

In [ ]:
greeting("Lee")

안녕하세요? Lee님
Hello, Mr(s)Lee

In [ ]:
# 인자 타입 지정을 따로 안하므로 다양한 타입의 인자 사용 가능
# 매개변수의 순서와 개수는 일치해야 함 -> 순서 틀리면 결과 오류, 개수 틀리면 실행 오류
def plus(i, j):
  return i + j

In [ ]:
plus(10, 20)

30

In [ ]:
plus(1.23, 4.5)

5.73

In [ ]:
plus("hello", "world")

'helloworld'

### define and caller

In [ ]:
def printInfo(name, age):
  print(f'My name is {name} and I am {age} years old.')

In [ ]:
printInfo('Lee', 27)

My name is Lee and I am 27 years old.

In [ ]:
# 결과 오류. 실행은 되지만 원하던 결과 아님
printInfo(27, 'Lee')

My name is 27 and I am Lee years old.

⚽⚽⚽\
position argument & keyword argument

In [ ]:
# 키워드 매개변수 방식. 

# 함수 선언부의 변화는 없고 호출부만 변화함
printInfo(name='Lee', age=27)
printInfo(age=27, name='Lee')

# 위치 매개변수(positional argument) + 키워드 매개변수(keyword argument)
# 혼용 가능하지만 위치 매개변수를 앞에 사용하고 뒤에 키워드 매개변수를 사용해야 함
printInfo('Lee', age=27)

# 문법오류. 실행 자체가 안됨
# 에러 : positional argument는 keyword argument를 따를 수 없음
# printInfo(age=27, 'Lee')
# printInfo(name='Lee', 27)

My name is Lee and I am 27 years old.
My name is Lee and I am 27 years old.
My name is Lee and I am 27 years old.

In [ ]:
# 인자 개수가 맞지 않는 경우 1
printInfo('Lee', 27, 'Busan')

In [ ]:
# 인자 개수가 맞지 않는 경우 2
printInfo('Lee')

### Argument types

In [ ]:
# default 매개변수
# c에 값이 들어오지 않으면 0으로 취급
def add(a, b, c=0):
  return a + b + c

In [ ]:
add(1, 2)

3

In [ ]:
add(1, 2, 3)

6

In [ ]:
add(c=30, b=20, a=10)

60

In [ ]:
add(1, 2, 3, 4)

TypeError: ignored

⚽⚽⚽\
가변 매개변수

In [ ]:
# 가변 매개변수
# 매개변수가 tuple 형식으로 들어감
# 정의할 때 *을 사용
def add2(*args):
  print(args)

In [ ]:
add2(1)
add2(1, 2)
add2(1, 2, 3, 4, 5, 6, 7, 8, 9)
add2()

(1,)
(1, 2)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
()

In [ ]:
def fn(a, b, c):
  print(a, b, c)

In [ ]:
i = [10, 20, 30]
fn(i[0], i[1], i[2])

10 20 30

In [ ]:
# 인자가 3개 들어가야 하는데, 표면적으로는 i 하나만 들어가므로 에러
# fn(i)

# 호출할 때 *을 사용
# i 내부를 펼쳐서 보냄
fn(*i)

10 20 30

### 연습문제-계산기

In [ ]:
operators = {'+' : plus, '-':minus, '*':multiply, '/':divide}
print( "Calculator is ready.('q' to quit)" )
while True:
    isDone = False
    line = input("> ")
    line.strip()
    if 'q' in line :
        break
    for op in operators.keys():
        op_idx = line.find(op)
        if op_idx > 0 and op_idx < len(line)-1:
            fn = operators[op]
            a = str2num(line[:op_idx])
            b = str2num(line[op_idx+1:])
            print( line , '=', fn(a,b) )
            isDone = True
            break
    if not isDone :
        print( 'Invalid expression, Try again.' )

Calculator is ready.('q' to quit)
> 1 + 2
1 + 2 = 3
> 3-2
3-2 = 1
> 2*3
2*3 = 6
> 4/2
4/2 = 2.0
> q

In [ ]:
# 변수에 함수를 할당할 수 있음
def fn2():
  print("fn2")

In [ ]:
fn2()

fn2

my = fn2

fn2
<function fn2 at 0x7f9df773c3b0>

In [ ]:
my == fn2, my is fn2

(True, True)

In [ ]:
my()

fn2

In [ ]:
def fn3(f):
  f()

In [ ]:
fn3(my)

fn2

### doc string

In [ ]:
def plus(a, b):
  '''
  두 변수의 덧셈 결과를 반환
  매개변수 : a, b
  반환 값  : a + b
  '''
  return a + b

In [ ]:
plus?

In [ ]:
print(plus.__doc__)

  두 변수의 덧셈 결과를 반환
  매개변수 : a, b
  반환 값  : a + b

### Name Space

In [ ]:

var1 = 'global-1'
var2 = 'global-2'
var3 = 'global-3'
def fn1():
    global var3
    var1 = 'local'
    var3 = 'local2'
    # 가까이 있는 값을 가져온다고 생각하면 됨
    print( 'var1 :', var1)
    print( 'var2 :', var2)
    print( 'var3 :', var3)
fn1()

# 같은 집에 있는 것을 가져옴(fn1 함수 내부는 다른 집)    
print( 'var1 :', var1)
print( 'var2 :', var2)

# 함수 내에서 global var3로 선언하면서 첫 var3와 같아짐
# 파이썬은 함수 선언과 할당이 따로 없기 때문에, 값을 넣는 식은 선언문로 취급함
# fn1 내의 var1 = 'local'는 선언문, var3 = 'local2'는 치환문임
print( 'var3 :', var3)

var1 : local
var2 : global-2
var3 : local2
var1 : global-1
var2 : global-2
var3 : local2

### Lambda
* 이름 없이 한 줄로 작성된 함수
* java의 익명함수와 비슷

In [ ]:
def fn(a, b):
  return a + b
fn(1, 2)

3

In [ ]:
# 문법적으로 가능은 하지만 무의미한 코드
(lambda a, b: a + b)(1, 2)

3

### Built-in function

In [ ]:
s = "hello"
dir(s)

In [ ]:
# zip은 상관 없는 두 자료형 요소를 순서쌍으로 묶어줌. 3개 이상도 가능함
a = ['one', 'two', 'three']
b = [1, 2, 3]
c = ['하나', '둘', '셋']
list(zip(a, b, c))

[('one', 1, '하나'), ('two', 2, '둘'), ('three', 3, '셋')]

In [ ]:
data = [1,2,3,4,5]

def f(x):
  return x * 2

# 귀찮으므로 map 함수 사용해서 더 간단하게 할 수 있음
res = []
for i in data:
  res.append(f(i))

res

[2, 4, 6, 8, 10]

In [ ]:
list(map(f, data))

[2, 4, 6, 8, 10]

In [ ]:
# 선언해둔 함수를 굳이 찾을 필요 없이 필요할 때 간단하게 사용하면 됨
list(map(lambda x: x*2, data))

[2, 4, 6, 8, 10]

* filter 함수

In [ ]:
# 짝수인 결과만 내보냄
list(filter(lambda x: x%2==0, data))

[2, 4]

In [ ]:
list(map(lambda x: x*2, filter(lambda x: x%2==0, data)))

[4, 8]

##09/13
---
---
##09/14

# 6.모듈과 패키지

### 사용자 정의 모듈

In [ ]:
#mymodule1.py

def function1():
    print('this is function 1')

### 사용자 정의 패키지

## 주요 내장 모듈

# 7.객체와 클래스

### 클래스 정의

### 생성자 함수

### 메서드

### Hidden method

### 상속

### super()

## Callable

In [ ]:
class Callable:
  def __call__(self):
    print("__call__")

obj = Callable()
obj()

In [ ]:
class MyDecorator:

  def __init__(self, fn):
    self.fn=fn

  def __call__(self):
    print('before calling %s' % self.fn.__name__)
    self.fn()
    print('after calling %s' %self.fn.__name__)
def fn():
  print('this is fn.')
obj= MyDecorator(fn)
obj()

@MyDecorator
def fn2():
  print('this is fn2')
fn2()

## Iterator

In [ ]:
class MyIterator:
  def __init__(self, start, end):
    self.start = start
    self.end = end
    self.current = start

  def __iter__(self):
    return self

  def __next__(self):
    if self.current < self.end:
      val = self.current
      self.current += 1
      return val
    else:
      raise StopIteration()

obj = MyIterator(1, 10)
for x in obj:
  print(x)

1
2
3
4
5
6
7
8
9